$orange: #ff6130;
$black: #000;
$white: #fff;
$blue: #0030d0;
.white-text {
  color: $white;
}
.white-bg {
  background-color: $white;
}

.black-text {
  color: $black;
}
.black-bg {
  background-color: $black;
}

.blue-text {
  color: $blue;
}
.blue-bg {
  background-color: $blue;
}

.orange-text {
  color: $orange;
}
.orange-bg {
  background-color: $orange;
}
