.header {
  padding: 15px 0;
  .nav {
    .main-ul {
      .main-li {
        a {
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 5px;
        }
        &:not(:last-child) {
          margin-right: 55px;
        }
      }
      margin-right: 80px;
    }
  }
  .search {
    margin-right: 45px;
    cursor: pointer;
  }
  .language {
    cursor: pointer;
    z-index: 15;
    .language-header {
      position: relative;
      z-index: 2;
      font-size: 12px;
      transition: all 0.3s ease;
      img,
      svg {
        margin-right: 10px;
      }
      svg path {
        transition: all 0.3s ease;
      }
    }
    &.active {
      .language-dropdown {
        max-height: 1000px;
      }
      .language-header {
        color: #0030d0;
        svg path {
          fill: #0030d0;
        }
      }
    }
    .language-dropdown {
      position: absolute;
      top: 0;
      background-color: #fff;
      min-width: 82px;
      transition: all 0.3s ease;
      max-height: 0px;
      overflow: hidden;
      transform: translateX(-21px);
      ul {
        padding: 102px 38px 32px 49px;
        li {
          margin-bottom: 12px;
          &.active {
            a {
              color: #404040;
            }
          }
          a {
            text-transform: uppercase;
            font-size: 14px;
            color: #0030d0;
          }
        }
      }
    }
  }
  .search-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &.active {
      pointer-events: fill;
      opacity: 1;
      .wrapper {
        opacity: 1;
      }
    }
    .wrapper {
      opacity: 0;
      padding-top: 20vh;
      transition-delay: 0.3s;
      transition-duration: 0.2s;
      .search-input {
        height: 81px;
        input {
          height: 100%;
          width: 100%;
          padding-right: 30px;
          border: none;
          outline: none;
          font-size: 70px;
          border-bottom: 1px solid #cccccc;
        }
        svg {
          transform: rotate(90deg) translateY(-50%);
          position: absolute;
          top: 50%;
          right: 0;
          circle,
          line {
            stroke: #0030d0;
          }
        }
      }
      .searched-item {
        margin-top: 25px;
        .title {
          font-size: 20px;
          color: #0030d0;
          margin-bottom: 5px;
        }
        .desc {
          font-size: 14px;
          color: #000;
          line-height: 25px;
        }
      }
    }
    .close {
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
}

.def-header {
  height: 220px;
  background-image: url("../images/def-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
